body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #071f95, #e63232);
    color: #000000;
}

.container {
    background: rgb(255, 255, 255);
    padding: 5rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="teks"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: #071f95;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #e63232;
}

.p button {
    float: right;
    border: none;
    border-radius: 5px;
    background: #071f95;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}